---
import '../styles/global.css'
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import AppHeader from './Header.astro';
import AppFooter from './Footer.astro';
import CallToAction from './CallToAction.astro';

const { frontmatter } = Astro.props;
---

<Layout>

<AppHeader />

<section class="mb-30 p-3">
    <div class="max-w-3xl mx-auto p-3 bg-white flex flex-col gap-7 border-3 mt-10">
        <Image src={frontmatter.image.url} alt={frontmatter.image.alt} width={100} height={100} class="w-full border-2" />
        <h1 class="title text-4xl font-black">{frontmatter.title}</h1>
        <slot />
    </div>
</section>

<CallToAction />
<AppFooter />

</Layout>
